@import "tailwindcss";

@theme {
  --color-brand-dark: #25476A;
  --color-brand-light: #03A9F4;
  --color-brand-bg: #F4F7FE;
  
  --shadow-brand: 0 20px 50px rgba(8, 112, 184, 0.07);
  --shadow-brand-hover: 0 20px 50px rgba(8, 112, 184, 0.14);
}

:root {
  --background: #F4F7FE;
  --foreground: #25476A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
